
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background: aliceblue; */
    min-height: 100vh;
    padding: 15px 7%;
    gap: 15px;
    padding-bottom: 80px;
    
}

.container .content{
    flex: 1 1 200px;
}

.container .image{
    flex: 1 1 200px;
}

.container .image img{
    width: 100%;
}

.container .content .title{
    text-transform: uppercase;
    color: rgb(221, 66, 66);
    font-family: 'Times New Roman';
    font-size: 25px;
}

.container .content p{
    color: #666;
    padding: 5px 0;
}

.container .content .count-down{
    color: brown;
    font-size: 15px;
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.container .content .count-down .box{
    padding: 5px;
    border: 1px solid #3333;
    background: #f3eded;
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box h3{
    font-size: 40px;
}

.container .content .count-down .box span{
    color: rgb(36, 35, 35);
    font-size: 20px;
}

.container .content .btn{
    display: inline-block;
    padding: 8px 25px;
    background-color: rgb(233, 122, 122);
    margin: 10px 0;
    font-size: 15px;
    text-decoration: none;
    color: #fffcfc;
    font-weight: bold;
    transition: 2s ease-out;
    border-radius: 20px;
}

.container .content .btn:hover{
    background-color: #fffcfc;
    color: #ed7d7d;
    border: 2px solid rgb(224, 97, 97);
    border-radius: 20px;
}


@media (max-width: 500px){
    .container{
        padding: 15px;
    }

    .container .content{
        text-align: center;
    }

    .container .content .title{
        font-size: 30px;
    }

    .container .content p{
        font-size: 20px;
    }

    .container .content .count-down{
        gap: 5px;
    }

    .container .content .count-down h3{
        font-size: 30px;
    }
     

    .container .content .count-down span{
        font-size: 13px;
    }
}


